<% if @review.errors.any? %>
  <div id="error_explanaton">
    <ul>
      <% @review.errors.full_messages.each do |msg| %>
      <div class="alert">

        <%= msg %>
      </div>
    </ul>
    <% end %>
  </div>
<% end %>
